*{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root{
  --navbar-height: 50px
}

.App {
  padding-top: var(--navbar-height);
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

a, button{
  text-decoration: none;
  color: inherit;
}